/***********FILE IMPORTS**********/
/***************************************/
@import url("bootstrap.css");
/*************GENERAL*****************/
/*************************************/
body{
  background-image: url("../images/back.jpg");
}
header {
  color: white;
}
button {
  border-radius: 10px;
  background-color: gray ;
  font-weight: bold;
}
.p13 {
  font-size: 13px
}
.p24 {
  font-size: 24px
}
.p20 {
  font-size: 20px
}
.jumbotron {
  text-align: center;
}
footer {
  background-color: white;
  text-align: center;

}
